// Banners

@width: (100 - (unit(@page-margin) * 2));

// #region Directional Support

body {
	&:not([dir="rtl"]) { // LTR
		div[data-budgie-component="simplicity-banner"] {
			@media screen and (min-width: 1024px) { // Non-Mobile
				& > span {
					margin-right: e("calc(20% - 40px)");
				}
			}
		}
	}

	&[dir="rtl"] { // RTL
		div[data-budgie-component="simplicity-banner"] {
			@media screen and (min-width: 1024px) { // Non-Mobile
				& > span {
					margin-left: e("calc(20% - 40px)");
				}
			}
		}
	}
}

// #endregion

// #region Generic Banner Styling

div[data-budgie-component$="-banner"] {
	// #region Scalable

	@media screen and (max-width: 1023px) { // Mobile
		flex-direction: column;
	}

	// #endregion

	display: flex;
	color: @white;
	background-color: @blue;

	& > span { // Heading
		& > h1, & > h2 { // Headings
			font-weight: normal; // No bold.
		}
	}

	& > span > a, & > a { //Link
		border: 2px solid @white;
	}
}

// #endregion

div[data-budgie-component="solus-banner"] {
	// #region Scalable

	@media screen and (max-width: 1023px) { // Mobile
		.fullWidth;
	}

	@media screen and (min-width: 1024px) { // Non-Mobile
		height: 400px;
		width: e("@{width}%");
		margin: 0 @page-margin;

		& > span {
			height: 200px;
			width: 60%;
			margin: 100px,
		}
	}

	// #endregion

	min-height: 200px;
	background-image: url("/imgs/desk.jpg");

	& > span {
		display: block;

		& > a { // Download Button
			height: 40px;
			color: @white;
			line-height: 40px;
			text-align: center;
			border-radius: 5px;
			background-color: transparent; // Overrride Solbit blue background
			margin-bottom: 10px;
		}
	}
}

div[data-budgie-component="simplicity-banner"] { // Simplicity Banner on Home Page
	// #region Scalable

	@media screen and (max-width: 1023px) { // Mobile
		& > span {
			.fullWidth;

			& > h1 { // First Heading
				font-size: 1.6em;
				margin: 15px 0 0 0;
			}

			& > h2 { // Budgie Version
				font-size: 1.1em;
			}
		}

		& > a {
			margin: 15px 0;
		}
	}

	@media screen and (min-width: 1024px) { // Non-Mobile
		& > span {
			width: 80%;

			& > h1 { // First Heading
				margin: 35px 0 0 0;
			}

			& > h2 { // Budgie Version
				font-size: 1.2em;
			}
		}

		& > a {
			margin: 40px 0;
		}
	}

	// #endregion

	min-height: 140px;
	width: e("@{width}%");
	padding: 0 @page-margin;

	& > span { // Heading
		& > h2 { // Budgie Version
			margin: 0;
		}
	}
}