// Blog List and Posts

div[data-solbit="list"][data-budgie-component-type="blog"]  { // Blog List
	// #region Scalable

	@media screen and (max-width: 1023px) { // Mobile
		.fullWidth;
	}

	@media screen and (min-width: 1024px) { // Non-Mobile
		width: 80%; // Don't have it take up the full width of the page

		& > h3 { // Latest News heading
			margin-top: 0;
		}
	}

	// #endregion

	& > h3 { // Latest News heading
		font-size: 1.8em;
	}

	& > div[data-solbit="list-item"][data-budgie-component-type="blog"] { // List Item
		&:not(:last-of-type):not(:only-of-type) { // If this is both NOT the last List Item and NOT the only List Item
			margin-bottom: 25px;
			padding-bottom: 25px;
			border-bottom: 2px solid @grey;
		}
	}
}

div[data-budgie-component="blog-info"] { // Blog Post Info
	.fullWidth;

	& > a { // Blog Link
		font-size: 1.4em;
		line-height: 2.4em;
	}

	& > section { // Author and Date
		.fullWidth;
		margin-bottom: 1.5em;
	}
}

div[data-solbit="blog-content"] { // Blog Content custom style
	video {
		width: 100%; // Scale to device size
		max-width: 1000px; // But don't be too large
	}
}