// Get page

@width: (100 - (unit(@page-margin) * 2));

div[data-budgie-component="get-page"] {
	// #region Scalable

	@media screen and (max-width: 1023px) { // Mobile
		.fullWidth;

		div[data-budgie-component="get-list"] {
			width: 80%;
			margin: 5% 10%; // 5% vertical, 10% horizontal
		}
	}

	@media screen and (min-width: 1024px) { // Non-Mobile
		width: e("@{width}%");
		margin: 0 @page-margin;

		div[data-budgie-component="get-list"] {
			.fullWidth;
			margin-top: 2.5%;
		}
	}

	// #endregion

	div[data-budgie-component="get-list"] { // Get List: Operating Systems to try Budgie on
		& > div[data-budgie-component="get-list-item"] { // Individual Items
			.fullWidth;
			height: 100%;
		}
	}
}