// Get page

@width: (100 - (unit(@page-margin) * 2));

div[data-budgie-component="get-page"] {
	// #region Scalable

	@media screen and (max-width: 1023px) { // Mobile
		.fullWidth;

		div[data-budgie-component="list"][data-budgie-component-type="get"] {
			width: 80%;
			margin: 5% 10%; // 5% vertical, 10% horizontal

			& > div[data-budgie-component="list-item"][data-budgie-component-type="get"] {
				flex-direction: column;

				& > div[data-budgie-component="get-list-item-info"] { // Info
					margin-bottom: 25px;
				}

				& > div[data-budgie-component="get-list-item-download"] { // Download Info
					display: inline-flex;
					display: -webkit-inline-flex;

					& > a { // Button
						width: 50%;
					}

					& > b { // Version Info
						width: 50%;
						line-height: 40px; // Vertically align text with button text
						text-align: center;
					}
				}
			}
		}
	}

	@media screen and (min-width: 1024px) { // Non-Mobile
		width: e("@{width}%");
		margin: 0 @page-margin 2.5% @page-margin;

		div[data-budgie-component="list"][data-budgie-component-type="get"] {
			.fullWidth;

			& > h1 { // Try Header
				margin: 1.5% 0;
			}

			& > div[data-budgie-component="list-item"][data-budgie-component-type="get"] {
				& > div[data-budgie-component="get-list-item-info"] {
					width: e("calc(100% - 140px)"); // Set to 100% - 140px (button)
				}

				& > div[data-budgie-component="get-list-item-download"] { // Download Info
					& > b { // Version Info
						margin-top: 5px;
					}
				}
			}
		}
	}

	// #endregion

	div[data-budgie-component="list"][data-budgie-component-type="get"] { // Get List: Operating Systems to try Budgie on
		& > h1 { // Try Header
			font-size: 1.8em;
		}

		& > div[data-budgie-component="list-item"][data-budgie-component-type="get"] { // Individual Items
			display: inline-flex;
			display: -webkit-inline-flex;

			min-height: 50px;
			width: e("calc(100% - 50px)"); // Width set to account for padding
			padding: 25px;

			& > div[data-budgie-component="get-list-item-info"] { // Item Info
				min-height: 50px;

				& > a { // Link
					font-size: 1.4em;
				}

				& > span { // OS Info
					.fullWidth;
					display: block;
				}
			}

			& > div[data-budgie-component="get-list-item-download"] { // Download Info
				& > b { // Version Info
					display: block;
					font-weight: normal;

					&[data-budgie-component="version-latest"] { // Latest version of Budgie
						color: @darkblue;
					}

					&[data-budgie-component="version-outdated"] { // Outdated version of Budgie
						color: @red;
					}
				}
			}
		}
	}
}