// Icons

// #region Widgets

div[data-budgie-widget-icon] { // Any Widget Icon
	background-position: center center;
	background-repeat: no-repeat;
}

div[data-budgie-widget-icon="haste"] { // Haste
	background-color: @pastelGreen;
	background-image: url("/imgs/widget-icons/haste.png");
}

div[data-budgie-widget-icon="keyboard-layout-indicator"] { // Keyboard Layout Indicator
	background-color: @black;
	background-image: url("/imgs/widget-icons/keyboard-layout-indicator.png");
}

div[data-budgie-widget-icon="notifications"] { // Notifications
	background-color: @pastelOrange;
	background-image: url("/imgs/widget-icons/notifications.png");
}

div[data-budgie-widget-icon="places"] { // Places
	background-color: @pastelRed;
	background-image: url("/imgs/widget-icons/places.png");
}

div[data-budgie-widget-icon="raven-sidebar-control"]{ // Raven Sidebar Control
	background-color: @pastelPurple;
	background-image: url("/imgs/widget-icons/raven-sidebar-control.png");
}

div[data-budgie-widget-icon="screenshot"] { // Screenshot
	background-color: @blue;
	background-image: url("/imgs/widget-icons/screenshot.png");
}

div[data-budgie-widget-icon="user-indicator"] { // User Indicator
	background-color: @black;
	background-image: url("/imgs/widget-icons/user-indicator.png");
}

// #endregion