// Icons

div[data-budgie-icon] { // Any Icon
	background-position: center center;
	background-repeat: no-repeat;
}

// #region Themes

div[data-budgie-icon="adapta"] { // Adapta GTK Theme
	background-color: @white;
	background-image: url("/imgs/icons/adapta.png");
}

// #endregion

// #region Widgets

div[data-budgie-icon="haste"] { // Haste
	background-color: @pastelGreen;
	background-image: url("/imgs/icons/haste.png");
}

div[data-budgie-icon="keyboard-layout-indicator"] { // Keyboard Layout Indicator
	background-color: @black;
	background-image: url("/imgs/icons/keyboard-layout-indicator.png");
}

div[data-budgie-icon="notifications"] { // Notifications
	background-color: @pastelOrange;
	background-image: url("/imgs/icons/notifications.png");
}

div[data-budgie-icon="places"] { // Places
	background-color: @pastelRed;
	background-image: url("/imgs/icons/places.png");
}

div[data-budgie-icon="raven-sidebar-control"]{ // Raven Sidebar Control
	background-color: @pastelPurple;
	background-image: url("/imgs/icons/raven-sidebar-control.png");
}

div[data-budgie-icon="screenshot"] { // Screenshot
	background-color: @blue;
	background-image: url("/imgs/icons/screenshot.png");
}

div[data-budgie-icon="user-indicator"] { // User Indicator
	background-color: @black;
	background-image: url("/imgs/icons/user-indicator.png");
}

// #endregion