// Budgie Showcase

div[data-budgie-component="showcase-list"] { // Showcase List
	display: inline-flex;
	display: -webkit-inline-flex;
	flex-wrap: wrap;

	& > div[data-budgie-component="showcase-item"] { // Showcase Item
		height: 150px;
		min-width: 350px; // Ensure flexbox enforces 350px width
		width: 350px;
		background-color: #fafafa;
		margin: 1.5% 2.5% e("calc(1% + 16px)") 16px; // Have roughly 2.5% around, account for 16px offset for fancy icon thing

		@border: e("2px solid #eeeeee");
		border-top: @border;
		border-left: @border;
		border-right: @border;
		box-shadow: 0 4px 4px 0 #eeeeee; // 0 x offset, 4px y offset, 4px blur, no spread.

		& > div[data-budgie-widget-icon] { // Icon
			height: 32px;
			width: 32px;
			border-radius: 32px;
			position: absolute;
			margin: -16px;
		}

		& > div[data-budgie-component="showcase-item-info"] { // Info
			height: 70px;
			width: e("calc(100% - 40px)");
			padding: 20px;

			& > b { // Name
				font-size: 1.2em;
				font-weight: normal;
			}
		}

		& > div[data-budgie-component="showcase-item-links"] {
			height: 40px;
			width: e("calc(100% - 40px)");
			font-size: 1.1em;
			line-height: 40px;
			border-top: 2px solid #eeeeee;
			padding: 0 20px;
		}
	}
}